.login {
    height: 120vh;
    background-image: linear-gradient(#0000007e, #0000007e), url(../../assets/background_banner.jpg);
    padding: 20px 8%;
}
.login-logo {
    width: 150px;

}
.login-form {
    width: 100%;
    max-width: 450px;
    background: rgb(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 60px;
    margin: auto;
}
.login-form h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}
.login-form input {
    width: 100%;
    height: 50px;
    background: #333;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;

}
.login-form input::placeholder {
    font-size: 16px;
    font-weight: 500;
}
.login-form button {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 16px;
    background: #e50914;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.form-help {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #b3b3b3;
    margin-top: 12px;
}
.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember input {
    width: 18px;
    height: 18px;
    margin-top: 20px;
}
.form-switch {
    margin-top: 40px;
    color: #737373;
}
.form-switch span {
    margin-left: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}